<header>
    <nav class="mobile-nav show-on-mobiles">
        {% include primary-nav-items.html %}
    </nav>
    <div class="grid">
        <div class="unit one-third center-on-mobiles">
            <h1>
                <a href="/">
                    <span class="sr-only">WPS</span>
                    <img src="/img/wps-logo-498x230_1478618045.png" width="249" height="115" alt="WPS Logo">
                </a>
            </h1>
        </div>
        <nav class="main-nav unit two-thirds align-right hide-on-mobiles">
            {% include primary-nav-items.html %}
        </nav>
    </div>
    <div class="grid">
        <div class="unit whole center-on-mobiles">
            <table>
                <thead>
                <tr>
                    <th><h2 class="text-pink">BETA Status Disclaimer</h2></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <p>The V4 API is <strong>not officially released</strong> and is in <code class="flag">Beta</code> status. If you have been granted preview access, please do not use in
                            production as things may change. We will make an effort to support the current state and maintain backwards compatibility in the future, but we reserve
                            the right to make incompatible changes when necessary.
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</header>
