{% include top.html %}

<body class="wrap">
{% include header.html %}

{{ content }}

{% include footer.html %}
{% include anchor_links.html %}
{% include analytics.html %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script>
    var App = App || {};

    (function ($) {
        $(function () {
            App.init();

//            App.send_email_url = 'http://192.168.99.100:32768/api-documentation/signup-form/send-email';
            App.send_email_url = 'http://calypso.wpswebservices.com/api-documentation/signup-form/send-email';
        });

        App.init = function () {
            $('#signup-form').on('submit', function (event) {
                event.preventDefault();
                $(this).find('button[type="submit"]').attr('disabled', 'disabled');
                App.send();
            });
        };

        App.validate = function () {
            var number_of_empty_inputs = 0;
            $('#signup-form').find('input').each(function () {
                if (!$(this).val()) {
                    alert('The "' + $(this).attr('name') + '" field is required.');
                    $('#signup-form').find('button[type="submit"]').attr('disabled', false);
                    number_of_empty_inputs++;
                }
            });
            return number_of_empty_inputs;
        };

        App.send = function () {
            if (App.validate() > 0) {
                return false;
            }

            var request = $.ajax({
                url: App.send_email_url,
                method: 'POST',
                headers: {
                    'Accept': 'application/json'
                },
                data: $('#signup-form').serialize()
            });
            request.done(function (data, textStatus, jqXHR) {
                $('html,body').scrollTop(0);
                $('article').html('<h5>' + data.message + '</h5>');
            });
            request.fail(function (jqXHR, textStatus, errorThrown) {
                App.ajaxRequestFailedAlert(jqXHR, textStatus, errorThrown);
            });
        };

        App.ajaxRequestFailedAlert = function (jqXHR, textStatus, errorThrown) {
            var data = JSON.parse(jqXHR.responseText);
            var message = '';
            for (var x in data) {
                message += data[x] + "\n";
            }

            alert(textStatus.toUpperCase() + ": " + errorThrown + "\n\n" +
                    message);

            $('#signup-form').find('button[type="submit"]').attr('disabled', false);
        };
    })(jQuery);
</script>
</body>
</html>
